<div class="w-full my-3 flex flex-col justify-center">
  <%= render partial: "bookmark_books", collection: @bookmark_books %>
</div>
<div class='container mx-auto flex justify-center items-center p-3'>
  <%= link_to '戻る', root_path, class: 'btn btn-sm outline' %>
</div>
