<div class="container mx-auto px-4">
  <div class="my-8">
    <div class="text-center">
      <h1 class="text-3xl font-bold mb-2">
        あなただけのおすすめの本
      </h1>
      <p class="my-2">
        ブックマーク情報をもとにおすすめを表示してます<br>
        <small>(ブックマークされてない方はランダムで表示されます)</small>
      </p>
      <div class="text-center title">
        <%= link_to "https://twitter.com/share?url=#{ request.url }&text=[あなただけのおすすめの本]は%0a#{@twitter_text}でした%0a", title: 'Twitter', class: 'fab fa-twitter', target: '_blank' do %>
          <svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg">
            <path d="
              M 630, 425
              A 195, 195 0 0 1 331, 600
              A 142, 142 0 0 0 428, 570
              A  70,  70 0 0 1 370, 523
              A  70,  70 0 0 0 401, 521
              A  70,  70 0 0 1 344, 455
              A  70,  70 0 0 0 372, 460
              A  70,  70 0 0 1 354, 370
              A 195, 195 0 0 0 495, 442
              A  67,  67 0 0 1 611, 380
              A 117, 117 0 0 0 654, 363
              A  65,  65 0 0 1 623, 401
              A 117, 117 0 0 0 662, 390
              A  65,  65 0 0 1 630, 425
              Z"
              style="fill:#3BA9EE;"/>
          </svg>
        <% end %>
      </div>
    </div>
    <div class="w-full my-3 flex flex-col justify-center">
      <div class="w-full my-3 flex flex-col justify-center">
        <%= render partial: "recommend", collection: @recommend_books_with_same_tags %>
      </div>
    </div>
  </div>

  <div class="mt-8">
    <div class="text-center">
      <h1 class="text-3xl font-bold">
        違うジャンルの本はいかがですか?
      </h1>
      <p class="my-2" >ブックマーク情報からあなたが選択してないジャンルの本を表示してます</p>
    </div>
    <div class="w-full my-3 flex flex-col justify-center">
      <%= render partial: "recommend",  collection: @recommend_books_with_different_tags %>
    </div>
  </div>
</div>
<div class='container mx-auto flex justify-center items-center p-3'>
  <%= link_to '戻る', root_path, class: 'btn btn-sm outline' %>
</div>
