@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  min-height: 150vh;
  background: #f2f2f5;
}


/* 本のカード */
.card_book{
  margin: 10px auto;
  border-radius: 13px;
  background: #f2f2f5;
  box-shadow:  6px 6px 12px #dfdfe1,
              -6px -6px 12px #ffffff;
}
.card_height{
  height: 200px;
  overflow-y: scroll;
}
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 300px;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(-45deg);
  }
  100% {
    transform: rotateY(-1deg);
  }
}

.book {
  width: 150px;
  height: 225px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-1deg);
  transition: 1.5s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(-45deg);
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: 150px;
  height: 225px;
  transform: translateZ(10px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: 3px;
  width: 18px;
  height: 219px;
  transform: translateX(137px) rotateY(90deg);
  background: linear-gradient(90deg,
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 150px;
  height: 225px;
  transform: translateZ(-10px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 50px 10px #666;
}
svg {
  display: block;
  height: 30px;
  margin: 20px auto;
}


.select_button{
  padding: 1.5em 5em;
  background: #efefef;
  border: none;
  border-radius: .5rem;
  color: #444;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
  box-shadow: -6px -6px 14px rgba(173, 173, 173, 0.7),
              -6px -6px 10px rgba(255, 255, 255, .5),
              6px 6px 8px rgba(255, 255, 255, .075),
              6px 6px 10px rgba(0, 0, 0, .15);
}

.select_button:hover {
  box-shadow: -2px -2px 6px rgba(86, 86, 86, 0.6),
              -2px -2px 4px rgba(51, 50, 50, 0.4),
              2px 2px 2px rgba(255, 255, 255, .05),
              2px 2px 4px rgba(0, 0, 0, .1);
}

.select_button:active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
              inset -2px -2px 4px rgba(255, 255, 255, .5),
              inset 2px 2px 2px rgba(255, 255, 255, .075),
              inset 2px 2px 4px rgba(0, 0, 0, .15);
}
.tag_name{
	display: inline-block;
	margin: 0 .1em .6em 0;
	padding: .6em;
	line-height: 1;
	text-decoration: none;
	color: #333;
  background-color: #c0c0fc;
	border: 1px solid #c0c0fc;
	border-radius: 2em;
}
